.ucm-artifact-horizontal-splitter {
	width: 1100px;
}

.ucm-artifact-vertical-splitter {
	width: 510px !important;
}

.ucm-metadata {
	width: 550px !important;
	margin-left: 20px;
}

.ucm-metadata .share-form {
    border: 1px solid black;
}

.alfresco-twister .alfresco-twister-actions {
	position: initial !important;
	float: right !important;
	right: initial !important;
}